/* #0d6efd */
.top-menu{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 !important;
    height: 10vh;
    padding-inline: 1rem !important;
    z-index: 2 !important;
    box-shadow: 5px 5px 10px black;
}

.top-menu>div>.icon{
    transition: filter 0.5s, color 0.5s;
    cursor: pointer;
}

.top-menu > div > .icon:hover{
    filter: drop-shadow(0px 0px 5px black);
}
