.sb__Success {
    background: #66bb6a;
}

.sb__Error {
    background: #f44336;
}

.sb__Message {
    background: #e3f2fd;
}

.snackbar {
    border-radius: 0.3rem;
    opacity: 1;
    position: absolute;
    bottom: 5%;
    left: 4%;
    width: 30vw;
}

.sb-open {
    animation: toDown 0.5s forwards;
    display: flex;
}

@keyframes toDown {
    0% {
        transform: translate(0, 30%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 5%);
        opacity: 1;
    }
}

.sb--icon {
    transition: scale 0.1s;
    transform: translateY(10%);
}

.sb--icon:hover {
    scale: 1.1;
}

.sb--icon-container {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 1s;
    border-radius: 0 0.3rem 0.3rem 0;
    cursor: pointer;
}

.sb--icon-container:hover {
    background: rgba(255, 255, 255, 0.3);
}

.sb--label {
    flex-basis: 60%;
}

.sb-text {
    margin-top: 0.8rem;
}
